header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
    margin-top: -10rem;
}

/* Applying CSS for CTA */

.cta {
    margin-top: 2.5rem;  /*to push buttons littlebit down*/
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* Applying CSS for HeaderSocials */

.header__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    position: relative;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* Applying CSS for My image */

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1,5rem 1.5rem;
}

.bandname {
    position: relative;
    width: 20%;
    margin-top: 10px;
    border: red 5px;
}

.albumname {
    width: 20%;
    position: relative;
    border: blue 5px;
}

.socialicon {
    width: 2%;
    padding: 0.5%;
}

.socialicon:hover {
    opacity: 60%;
    transition: 0.5s;
}

.me > img {
    margin-left: .5rem;
}

/* Applying CSS for Scroll Down */

.scroll__down {

    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* Media queries for medium devices(Tablets) */

@media screen and (max-width: 1024px) {

    header{

        height: 60vh;
    }

}

/* Media queries for small devices(Mobiles) */

@media screen and (max-width: 600px) {

    header{

        height: 100vh;
    }

    .header__socials, .scroll__down{

        display: none;
    }

    .me > img{

        margin-top: 2.5rem;
    }
}